<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sản phẩm", "Index", "SanPhams", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Danh mục", "Index", "DanhMucs")</li>
                    <li>@Html.ActionLink("Nhà cung cấp", "Index", "NhaCungCaps")</li>
                    <li>@Html.ActionLink("Giá", "Index", "Gias")</li>
                    <li>@Html.ActionLink("Hóa đơn", "Index", "HoaDons")</li>
                    <li>@Html.ActionLink("Thong tin Khach Hang", "Index", "KHACHes")</li>
                    <li>@Html.ActionLink("TK Admin", "list", "Login")</li>

                </ul>
                <ul class="nav navbar-nav" style="float:right !important">
                    @if (Session["tenKH"] != null)
                    {
                        <li><p style="color:aquamarine;margin-top:15px;">Hello @Session["tenKH"]</p></li>
                        <li>@Html.ActionLink("Thoát", "Logout", "Login")</li>
                        }
                    else
                    {
                        <li>@Html.ActionLink("Đăng nhập", "Login", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
