@model IEnumerable<projectPart3.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var danhmucs = ViewBag.DanhMuc;
}

<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var item in Model)
                {
                
                    <div class="col-lg-3">
                        <a href="Home/Detail/@Html.DisplayFor(model=> item.ma_sp)">
                            <div class="categories__item set-bg" data-setbg="~/Content/img/categories/cat-1.jpg">
                                <img src="@Url.Content(item.hinh_anh)" />
                                <h5><a href="#">@Html.DisplayFor(modelItem => item.ten_sp)</a></h5>
                            </div>
                        </a>
                    </div>
                
                }

            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @foreach (var danhmuc in danhmucs)
                        {

                            <li data-filter=".@danhmuc.ten_danh_muc">@danhmuc.ten_danh_muc</li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in Model)
            {
            <div class="col-lg-3 col-md-4 col-sm-6 mix @Html.DisplayFor(modelItem => item.danhmucs.ten_danh_muc) fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="~/content/img/featured/feature-1.jpg">
                            <img src="@Url.Content(item.hinh_anh)" />
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="Home/Detail/@Html.DisplayFor(model=> item.ma_sp)"><i class="fa fa-info"></i></a></li>
                                @if (item.trang_thai == true)
                                {
                                    <li><a href="/Cart/addToCart/@item.ma_sp"><i class="fa fa-shopping-cart"></i></a></li>
                                }
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">@Html.DisplayFor(modelItem => item.ten_sp)</a></h6>
                            <h5>@Html.DisplayFor(modelItem => item.gias.gia_khuyen_mai) đ</h5>

                        </div>
                    </div>
            </div>
            }
            

        </div>
    </div>
</section>
<!-- Featured Section End -->
