@model projectPart3.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.khachs.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khachs.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tong_tien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tong_tien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trang_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghi_chu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghi_chu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_tao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_tao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma_hd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
